@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$sb-width: 0.4rem;

html {
    height: 100%;

    body {
        color: #fff;
        background: linear-gradient(45deg, #000, #0099ff);
    }
}

footer,
header {
    display: block;
    height: 2.5em;
    background: #0a0a0a5d;
}
//TODO: check scrollbar is changed in firefox
//scrollbar params for firefox and the rest (webkit)
main {
    scrollbar-color: #0877f5;
    scrollbar-width: $sb-width;
    scrollbar-track-color: #00000066;

    &::-webkit-scrollbar {
        width: $sb-width;
        background: #00000066;
    }

    &::-webkit-scrollbar-thumb {
        background: #0877f5;
        border-radius: 2em;
    }
}

#root {
    height: 100%;
}

.dark-top {
    background:rgba(0, 0, 0, 0.25);
}

.clickable {
    cursor: pointer;
}

//TODO: try to clear box shadow on focus active state
.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-primary:active:focus {
    box-shadow: none;
}

//TODO: look at using animXYZ
.fave {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.list-container {
    background: linear-gradient(rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.4));
}

@include media-breakpoint-up(lg) {
    .App {
        width: 60%
    }
}