@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

body,
html {
    height: 100%;
    background: #fff;
}

footer,
header {
    background: #0a0a0a5d;
}
//TODO: check scrollbar is changed in firefox
//scrollbar params for firefox and the rest (webkit)
main {
    scrollbar-color: #0877f5;
    scrollbar-width: 4px;
    scrollbar-track-color: #8d76f5;

    &::-webkit-scrollbar {
        width: 4px;
        background: #8d76f5;
    }

    &::-webkit-scrollbar-thumb {
        background: #0877f5;
        border-radius: 2em;
    }
}

#root {
    height: 100%;
}

.clickable {
    cursor: pointer;
}

//TODO: try to clear box shadow on focus active state
.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-primary:active:focus {
    box-shadow: none;
}

//TODO: look at using animXYZ
.fave {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.list-container {
    background: #8d76f5;
}

@include media-breakpoint-up(lg) {
    .App {
        width: 60%
    }
}